/*
!/app/
!/build/
!/assets/
!/grpc/
!/insecure
!/docs/
!/tests/
!/.env.example
!/.env.development
!/.env.production
!/.gitignore
!/docker-compose.yml
!/Dockerfile
!/go.mod
!/go.sum
!/main.go
!/README.md
!/LICENSE
!/*.sh
!/Makefile
!/Procfile
!/heroku.yml